NET "reset" 	LOC = "B8" 	| IOSTANDARD = LVCMOS33; 
#NET "en" 		LOC = "T9" 	| IOSTANDARD = LVCMOS33; 
#NET "cw"			LOC = "T10"	| IOSTANDARD = LVCMOS33;

# seven segment, msb is CA, lsb is DP
NET "O_SSEG<0>" LOC = "M13" | IOSTANDARD = LVCMOS33;
NET "O_SSEG<1>" LOC = "L14" | IOSTANDARD = LVCMOS33;
NET "O_SSEG<2>" LOC = "N14" | IOSTANDARD = LVCMOS33;
NET "O_SSEG<3>" LOC = "M14" | IOSTANDARD = LVCMOS33;
NET "O_SSEG<4>" LOC = "U18" | IOSTANDARD = LVCMOS33;
NET "O_SSEG<5>" LOC = "U17" | IOSTANDARD = LVCMOS33;
NET "O_SSEG<6>" LOC = "T18" | IOSTANDARD = LVCMOS33;
NET "O_SSEG<7>" LOC = "T17" | IOSTANDARD = LVCMOS33;

# Anodes for sseg, lsb is AN0, msb is AN3
NET "O_AN<0>" LOC = "N16" | IOSTANDARD = LVCMOS33;
NET "O_AN<1>" LOC = "N15" | IOSTANDARD = LVCMOS33;
NET "O_AN<2>" LOC = "P18" | IOSTANDARD = LVCMOS33;
NET "O_AN<3>" LOC = "P17" | IOSTANDARD = LVCMOS33;

# clock
NET "clk" LOC = "V10" | IOSTANDARD = LVCMOS33;